<div class="container" ng-controller="AppCtrl">
    <ul class="nav nav-pills nav-stacked">
        <li ng-class="clientsActive">
          <a href="#">Clients</a>
        </li>
       <!--  <li ng-class="workoutsActive">
          <a href="#/workouts">Workouts</a>
        </li>
        <li ng-class="exercisesActive">
          <a href="#/exercises">Exercises</a>
        </li> -->
    </ul>
    <div ng-view></div>

 </div>



