<div class="container" ng-controller="AppCtrl">
  <h1>Clients</h1>
  <ul class="nav nav-pills">
      <li ng-class="clientsActive">
        <a href="#">Clients</a>
      </li>
      <li ng-class="workoutsActive">
        <a href="#/workouts">Workouts</a>
      </li>
      <li ng-class="exercisesActive">
        <a href="#/exercises">Exercises</a>
      </li>
  </ul>
  <div ng-view></div>
 </div>


