<div class="trainer_profile">
  <div class="clearfix">
    <div class="profile">
      <img  class="profile_image" ng-src={{trainer.avatar}} alt="avatar" />
    </div>
    <div class="profile_details">
      <h3>Welcome {{trainer.name_first}} {{trainer.name_last}}</h3>
      <p>Phone: {{trainer.phone}}</p>
      <p>{{trainer.certification}}</p>
      <p>Certificate Expires: {{trainer.certification_expiration}} </p>
    </div>
  </div>

  <div id="client_bar" class="clearfix">
    <div ng-show="showHideClientAccess" id="client_list_button"><a ng-click="toggleClientList()"><div class="list_button">Client List</div></a></div>
    <div ng-hide="showHideClientAccess" id="client_search"><input type="text" ng-model="search" value="" placeholder="Search Clients" class="input-xlarge" /></div>
  </div>

</div>
<div ng-hide="showHideClients" class="client_box clearfix">
  <div ng-repeat="client in clients | filter: search">
    <div class="client_list clearfix">
      <a ng-click="setCurrentClient(client.id, $index)">
        <div class="client_toggle clearfix">
          <div class="profile">
            <img class="profile_image" ng-src={{client.avatar}} alt="avatar" />
          </div>
          <div class="card_profile_details">
            <p>{{client.name_first}} {{client.name_last}}</p>
            <p>{{client.phone}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div ng-include="'/partials/client_details.html'"></div>