.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
/***** Mobile First - default is phone ***/

body {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 0;
}

.column3 {
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
}

.image, .copy {
  text-align: center;
}

#wrapper {
  width: 100%;
  min-width: 150px;
}

#content {
  /*padding-left: 15px;*/
  margin-bottom: 10px;
  min-height: 300px;
  border-bottom: 2px solid #2980b9;
}

header {
  background-color: #fff;
  height: 100%;
  padding-top: 5px;
  border-bottom: 2px solid #2980b9;
  padding-left: 15px;
}

#logo {
  color: #2980b9;
  font-size: 2.2em;
  line-height: 2.6em;
  float: left;
  width: 65%;
}

#login {
  float: left;
  width: 30%;
  text-align: right;
  padding-right: 5%;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

.workout_toggle, .client_toggle, .client_profile {
  font: 1.4em Verdana;
  padding: 3% 0 3% 3%;
  color: #fff;
  background-color: #2ecc71;
  border-top: 2px solid #3498db;
}

p {
  padding-left: 3%;
}

.client_details {
  width: 50%;
  float: left;
}

.client_details p {
  padding-left: 25%;
}

.client_profile {
  background-color: #fff;
  color: #2ecc71;
}

/*.current_client {
  border: 2px solid #3498db;
}
*/
.list_button {
  padding: 2% 2% 2% 2%;
  background-color: #c0392b;
  color: #fff;
}

.circle {
  width: 100px;
  height: 100px;
  background: #3498db;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-bottom: 10px;
}

footer .madein {
  float: left;
  width: 100%;
  padding-left: 3%;
}

footer .copyright {
  float: left;
  width: 100%;
  padding-left: 3%;
}

/***** BEGIN MEDIA QUERIES *****/
/* large desktop and tv's */
@media (min-width: 1024px) {
  .container {
    width: 960px;
    margin: 0 auto;
    &:after {
      content: "";
      clear: both;
      width: 100%;
    }
  }
  .column3 {
    width: 300px;
    float: left;
    margin: 0 10px;
  }
  .image {
    text-align: center;
  }
}

/* tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .container {
    width: 100%;
    margin: 0 0%;
  }
  .column3 {
    clear: both;
    padding: 20px 0;
    border-bottom: 1px solid #CCC;
    &:after {
      content: "";
      clear: both;
      width: 100%;
    }
  }
  .image {
    float: left;
    width: 40%;
  }
  .copy {
    float: right;
    width: 56%;
  }

  footer .copyright {
   float: left;
   padding-left: 3%;
  }

  footer .madein {
    float: left;
    padding-left: 3%;
  }
}

