$green: #4cd964;
$light-green: #66F37E;
$blue: #007aff;
$yellow: #ffcc00;
$pink: #ff2d55;
$white: #fff;
$midnight: #2c3e50;
$light-grey: #ccc;
$light-blue: #5ac8fa;

/* modified reset */
html, body, div, span, footer, header, 
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/***** Mobile First - default is phone ***/
body {
  font-size: .9em;
  font-family: m-1c, Verdana;
  margin: auto;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

header {
  background-color: $white;
  height: 100%;
  padding-top: 2%;
  padding-left: 0;
}

#logo {
  color: $blue;
  font-family: pontano-sans;
  font-size: 2.2em;
  float: left;
  width: 100%;
  padding-left: 3%;
}

h3 {
  color: $blue;
}

#login {
  float: left;
  width: 100%;
  text-align: left;
}

nav {
  margin-left: 0px;
  padding-top: 0px;
  margin-bottom: 20px;
}

nav li .dash_button {
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

nav li {
  display: inline;
  margin-top: 22px;
}

nav li a {
  text-decoration: none;
}

nav li a:hover {
  background-color: $light-blue;
}

nav ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 0;
}

/******* Begin Dash *****/
  #left {
    float: left;
    width: 100%;
    text-align: center;
  }

  #right {
    float: left;
    width: 94%;
    margin: 0 3%;
  }

  .dash_button {
    width: 30%;
    background-color: $blue;
    color: $white;
    font-size: 1.0em;
    padding: 11px 3%;
    text-align: center;
  }
  /******* End Dash *****/

#alert {
  padding-left: 3%;
}

.column3 {
  padding: 1% 0;
  border-bottom: 1px solid $light-blue;
}

.client_list {
  padding: 0 0;
  margin: 0 0;
  border: 1px solid $blue;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.current_client {
  border-top: 1px solid $blue;
}

.exercise_image, .copy {
  text-align: center;
}

#content {
  margin-bottom: 10px;
  min-height: 300px;
}

a:link, a:visited {
  text-decoration: none;
  color: $white;
}

.profile_details a:link, .profile_details a:visited {
  text-decoration: none;
  color: $midnight;
}

.workout_toggle, .client_toggle {
  background-color: $green;
  color: $white;
  font: 1.4em m-1c;
  padding: 2% 0 2% 3%;
}



.client_toggle {
  background-color: $green;
  color: $white;
}

.client_toggle:hover, .workout_toggle:hover {
  background-color: $light-green;
}

.workout_toggle {
  border-top: 2px solid $blue;
}

.profile_image {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

.profile_details{
  width: 68%;
  padding-left: 7%;
  float: left;
}

.card_profile_details {
  width: 75%;
  padding-left: 0;
  float: left;
}

.card_profile_details p{
  text-align: center;
}

.profile_details p {
  text-align: left;
  font-size: .9em;
}

div.profile {
  text-align: center;
  width: 25%;
  float: left;
}

#client_bar {
  width: 94%;
  margin: 3% 3%;
}

#client_search {
  float: right;
  width: 70%;
}

.input-xlarge {
  width: 97%;
  padding-left: 3%;
  height: 25px;
  font-size: 1.2em;
  background-color: $white;
  color: $midnight;
}

#client_list_button {
  float: right;
  width: 70%;
  /*padding-right: 5%;*/
}

.list_button {
  width: 80%;
  background-color: $blue;
  color: $white;
  font-size: 1.0em;
  padding: 11px 10%;
  text-align: center;
}

.list_button:hover {
  background-color: $light-blue;
}

/******* Begin Login ******/
.sessions {
  background-color: $blue;
  color: $white;
  width: 100%;
  padding: 5% 5% 5% 5%;
  margin: auto;
}

.sessions h2 {
  text-align: center;
  font-size: 1.9em;
  padding-right: 11%;
}

form input[type='email'], form input[type='password'] {
  width: 85%;
  padding-left: 1%;
  height: 38px;
  margin-bottom: 10px;
  border: 0px solid;
  font-size: 1.6em;
  background-color: $white;
  color: $midnight;
}

form input[type='submit'] {
  width: 86%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 10px;
  border: 0px solid;
  font-size: 1.8em;
  background-color: $green;
  color: $white;
}

.flat_form {
  font-family: Palatino;
}

/******* End Login ******/

footer .madein, footer .copyright {
  float: left;
  width: 100%;
  padding-left: 3%;
  color: $blue;
}

/***** BEGIN MEDIA QUERIES *****/

/* large desktop and tv's */
@media (min-width: 1024px) {

  nav {
    float: left;
    width: 100%;
  }

  nav li {
    display: inline;
    margin-top: 0;
  }

  nav li .dash_button {
    padding-left: 3%;
    padding-right: 3%;
  } 

  .container {
    width: 990px;
    margin: 0 auto;
  }

  header {
    padding-left: 0;
  }

  #login {
    width: 47%;
    text-align: right;
    padding: 0 0;
  }

  #logo {
    width: 50%;
  }

  #client_bar {
    float: right;
    width: 94%;
    margin: 3% 3% 3% 0;
  }

  /******* Begin Dash *****/
  #left {
    float: left;
    width: 37%;
  }

  #right {
    float: left;
    width: 60%;
    padding-right: 3%;
    margin: 0 0%;
  }

  .dash_button {
    width: 50%;
    background-color: $blue;
    color: $white;
    font-size: 1.0em;
    padding: 11px 3%;
    text-align: center;
  }
  /******* End Dash *****/


  /******* Begin Login ******/
  .sessions {
    width: 60%;
    padding: 5% 5% 5% 5%;
  }

  .sessions h2 {
    text-align: left;
  }

  form input[type='email'], form input[type='password'] {
    width: 99%;
    padding-left: 1%;
    height: 38px;
    margin-bottom: 10px;
    font: 1.4em;
  }

  form input[type='submit'] {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    margin-top: 10px;
    font: 1.4em;
  }

  /******* End Login ******/

  .column3 {
    width: 300px;
    float: left;
    margin: 0 9px;
  }

  .client_list {
    width: 33.3333333%;
    float: left;
  }

  .exercise_image {
    text-align: center;
  }

  footer .copyright, footer .madein {
   float: left;
   padding-left: 0;
  }
}

/* tablet */
@media (min-width: 680px) and (max-width: 1023px) {
  #logo {
    width: 55%;
  }

  #login {
    width: 42%;
    text-align: right;
  }

  nav {
    float: left;
    width: 100%;
  }

  nav li {
    display: inline;
    margin-top: 0;
  }

  nav li .dash_button {
    padding-left: 3%;
    padding-right: 3%;
  } 

  .column3 {
    padding: 1% 0;
  }

  .client_list {
    width: 50%;
    float: left;
  }

  .exercise_image {
    float: left;
    width: 40%;
  }
  
  .copy {
    float: right;
    width: 56%;
  }

/******* Begin Login ******/

  .sessions {
    width: 60%;
    padding: 5% 5% 5% 5%;
  }

  .sessions h2 {
    text-align: left;
  }

  form input[type='email'], form input[type='password'] {
    width: 99%;
    padding-left: 1%;
    height: 38px;
    margin-bottom: 10px;
    font: 1.4em;
  }

  form input[type='submit'] {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    margin-top: 10px;
    font: 1.4em;
  }

  /******* End Login ******/
}

