.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/***** Mobile First - default is phone ***/

body {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

#wrapper {
  width: 100%;
  min-width: 150px;
}

header {
  background-color: #fff;
  height: 100%;
  padding-top: 5px;
  border-bottom: 2px solid #2980b9;
  padding-left: 15px;
}

#logo {
  color: #2980b9;
  font-size: 2.2em;
  line-height: 2.6em;
  float: left;
  width: 65%;
}

#login {
  float: left;
  width: 30%;
  text-align: right;
  padding-right: 5%;
}

#trainer-ctrl {
  float: left;
  width: 90%;
  border: 1px solid black;
}

#trainer-list-container {
  background-color: #fff;
  min-height: 500px;
  float: left;
  width: 30%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    li {
      cursor: pointer;
      border-bottom: 1px solid #ddd;
      padding: 0 10px;
    }
  }
  h3 {
    font-size: 14px;
    small {
      font-size: 12px;
      color: #ccc;
      font-weight: normal;
    }
    &.active {
      color: red;
    }
  }
}

#trainer-view-container {
  border-left: 1px solid #d0d0d0;
  float: left;
  width: 60%;
  min-height: 500px;
  padding-left: 4%;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

footer .madein {
  float: left;
  width: 100%;
  padding-left: 3%;
}

footer .copyright {
  float: left;
  width: 100%;
  padding-left: 3%;
}

/***** BEGIN MEDIA QUERIES *****/

/* tablet */
@media screen and (min-width: 601px) and (max-width: 799px) {

  footer .copyright {
     float: left;
     padding-left: 3%;
  }

  footer .madein {
     float: left;
     padding-left: 3%;
  }

}

/* large desktop and browsers */
@media (min-width: 800px) {
  #wrapper {
    max-width: 1100px;
  }
}


